body, h2 {
  margin: 0;
}

.b2-left ul, .b3-right ul, .b6-left ul, .b8-left ul, .hb-center ul {
  list-style-type: none;
}

.alert h3, .b6-right p, .block-10 .client-info, .hb-center .promo, .stage, h2 {
  text-transform: uppercase;
}

body {
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

.js_errorMessage { direction: ltr!important; }

h2 {
  font-size: 56px;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;;
}

.hb-center ul, .header h2 span {
  font-family: 'Open Sans', sans-serif;
}

.clearfix {
  clear: both;
}

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.input-field .prefix ~ label {
  top: -15px;
  text-align: right;
}

.select-wrapper input.select-dropdown {
   text-align: right;
}

.header {
  padding: 5px 0;
  color: #ffffff;
  background-image: url('../img/bg_01.jpg');
  -webkit-background-size: cover;
  background-size: cover;;
}

.hb-center .promo:before, .hb-center ul li:before {
  content: "";
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.header h2 span {
  font-weight: 400;
  font-size: 42px;;
}

.header-top {
  padding-bottom: 40px;
}

.ht-left {
  float: left;
  width: 470px;
  padding-right: 10px;
}

.ht-right {
  float: right;
  padding: 15px 0;
  text-align: right;;
}

.hb-center, .hb-left {
  float: left;
  width: 320px;
}

.ht-right img {
  margin-right: 20px;
}

.ht-right img:last-child {
  margin-right: 0;
}

.hb-left img {
  position: relative;
  left: -180px;
  max-width: 500px;
  margin-top: 10px;;
}

.hb-center ul {
  margin: 0;
  padding-left: 55px;
  font-size: 19px;
}

.hb-center ul li {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.5;;
}

.hb-center ul li:first-line {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.hb-center ul li:before {
  position: absolute;
  top: 5px;
  left: -45px;
  width: 28px;
  height: 28px;
  background-image: url('../img/check-circle.png');
}

.hb-center .promo {
  position: relative;
  margin: 10px 0;
  padding-left: 55px;
  font-size: 20px;
  line-height: 1.05;
  font-family: 'Open Sans', sans-serif;;
}

.hb-center .promo .sale {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #fff722;
}

.hb-center .promo:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url('../img/percent.png');
}

.hb-center .price {
  float: right;
  width: 260px;
  height: 95px;
  margin-top: 10px;
  padding: 10px 20px 5px;
  background-color: #892149;
}

.hb-center .price p {
  margin: 0;
  line-height: 1;
}

.hb-center .price .price_old {
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  color: #cd5c76;;
}

.hb-center .price .price_old span {
  font-size: 17px;
}

.hb-center .price .price_main {
  font-weight: 700;
  font-size: 58px;
  color: #fff722;
}

.hb-center .price .price_main span {
  font-size: 38px;
}

.hb-right {
  float: right;
  width: 320px;
}

.timer-wrap {
  padding: 15px 20px;
  background-color: #d7d9da;
}

.timer-wrap p {
  margin: 0;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;;
}

.order_form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: #262626;
  background-color: #e5e9ea;;
}

.b2-left h2, .landing__countdown span {
  font-family: 'Open Sans', sans-serif;
}

.order_form button, .order_form input, .order_form label, .order_form option, .order_form select {
  display: block;
}

.order_form button:focus, .order_form input:focus, .order_form label:focus, .order_form option:focus, .order_form select:focus {
  outline: 0;
}

.order_form label {
  margin-bottom: 5px;
}

.order_form input, .order_form select {
  -webkit-box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 19px;
}

.order_form select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  border: 2px solid #8ebbb9;
}

.order_form .custom-select {
  position: relative;
}

.order_form .custom-select:after, .order_form .custom-select:before {
  content: "";
  position: absolute;
  pointer-events: none;;
}

.order_form .custom-select:before {
  top: 2px;
  right: 2px;
  width: 60px;
  height: 54px;
  background: #ffffff;
  border-left: 2px solid #8ebbb9;;
}

.order_form .custom-select:after {
  top: 50%;
  right: 23px;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-top: 10px solid #8ebbb9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;;
}

.order_form .custom-select:hover:after {
  border-top: 10px solid #6e9b99;
}

.order_form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  border: 2px solid #8ebbb9;
}

.factor, .landing__countdown span {
  -webkit-box-sizing: border-box;
  text-align: center;
}

.order_form .button {
  width: 100%;
  height: 70px;
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1d6f4d), to(#269366));
  background-image: -webkit-linear-gradient(bottom, #1d6f4d, #269366);
  background-image: -o-linear-gradient(bottom, #1d6f4d, #269366);
  background-image: linear-gradient(to top, #1d6f4d, #269366);
  border: none;
  cursor: pointer;
}

.order_form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1c6345), to(#2a8660));
  background-image: -webkit-linear-gradient(bottom, #1c6345, #2a8660);
  background-image: -o-linear-gradient(bottom, #1c6345, #2a8660);
  background-image: linear-gradient(to top, #1c6345, #2a8660);
}

.order_form p {
  margin: 0;
  line-height: 1.3;
  text-align: center;
  color: #3e3e3e;;
}

.order_form p .red-span {
  font-weight: 700;
  color: #ff002c;
}

.landing__countdown {
  margin: 10px 0 20px;
}

.landing__countdown span {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 85px;
  margin-right: 12px;
  font-size: 52px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #c2c6c7;;
}

.landing__countdown span:after {
  content: ":";
  position: absolute;
  top: -5px;
  right: -14px;
  color: #e7e8e9;;
}

.landing__countdown span:before {
  position: absolute;
  bottom: -25px;
  font-size: 17px;;
}

.landing__countdown span:last-child {
  margin-right: 0;
}

.landing__countdown span:last-child:after {
  display: none;
}

.landing__countdown .hours:before {
  content: "часов";
  left: 17px;
}

.landing__countdown .minutes:before {
  content: "минут";
  left: 20px;
}

.landing__countdown .seconds:before {
  content: "секунд";
  left: 17px;
}

.b2-left ul li:before, .b3-right ul li:before {
  content: "";
  top: 5px;
  right: -45px;
}

.block-2 {
  padding: 40px 0 50px;
}

.b2-left {
  float: left;
  width: 480px;
}

.b2-left h2 {
  font-size: 42px;
  line-height: 1;
  color: #2b1429;;
}

.b2-left h2 .str-2, .b2-left h2 .str-3 {
  font-size: 63px;
  font-family: 'Open Sans', sans-serif;;
}

.b2-left h2 .str-3 {
  color: #fb382a;
}

.b2-left p {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;;
}

.b2-left p span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.b2-left ul {
  margin: 40px 0 0;
  padding-left: 45px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;;
}

.b2-left ul li {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.5;;
}

.b2-left ul li:last-child {
  margin-bottom: 0;
}

.b2-left ul li:before {
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url('../img/alert.png');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.b2-left ul li span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #d82a1d;
}

.b2-right {
  float: right;
  width: 480px;
}

.b2-right img {
  max-width: 100%;
  margin-top: 50px;
}

/*new box*/
::-webkit-scrollbar-button {
  width: 3px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #32312e;
  -webkit-box-shadow: 0 0 3px #000000 inset;
  box-shadow: 0 0 3px #000000 inset;
}

::-webkit-scrollbar-thumb {
  background-color: #781242;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px #ffffff inset;
  box-shadow: 0 1px 1px #ffffff inset;
}

::-webkit-resizer {
  width: 3px;
  height: 0;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.preloader-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #eeeeee;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.spinner-layer {
  max-width: 50px;
  max-height: 50px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  line-height: 1;
}

.dib {
  display: inline-block;
  vertical-align: middle;
}

.obj {
  position: absolute;
  z-index: 1;
}

.obj img {
  width: 100%;
}

.img_box img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.ttu {
  text-transform: uppercase;
}

.fwb {
  font-weight: bold;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

main {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 50px 0;
}

.container {
  position: relative;
}

.block-01 {
  background: url('../img/bg_01.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  background-size: cover;
}

.block-01__subtitle {
  margin-bottom: 10px;
  font-size: 42px;
  color: #ffffff;
}

.block-01__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1;
  color: #ffffff;
}

.block-01__dashes {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.block-01__dashes-item {
  margin: 0 0 30px;
  padding: 15px 0;
  background: url('../img/ht-1.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.dashes-item__text {
  max-width: 200px;
  padding: 20px 25px;
  font-size: 14px;
  text-align: center;
  color: #fff722;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.dashes-item__text span {
  display: block;
  font-size: 14px;
  color: #ce5c76;
}

.block-01__dashes-item:nth-child(2) {
  background: url('../img/ht-2.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.block-01__dashes-item:nth-child(2) .dashes-item__text {
  padding: 55px 35px 35px;
  font-size: 48px;
  line-height: 1;
}

.block-01__dashes-item:nth-child(3) {
  background: url('../img/ht-3.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.block-01__dashes-item:nth-child(3) .dashes-item__text {
  padding: 60px 20px 30px;
  font-size: 12px;
  color: #000000;
}

.block-01__dashes-item:nth-child(3) .dashes-item__text span {
  font-size: 10px;
  color: #063d33;
}

.block-01__prod-plus {
  position: relative;
  margin-bottom: 30px;
  padding-right: 40px;
}

.block-01__prod-plus:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url('../img/check-circle.png') no-repeat left top;
  -webkit-background-size: contain;
  background-size: contain;
}

.prod-pluses__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ffffff;
}

.prod-pluses__text {
  font-size: 20px;
  color: #ffffff;
}

.block-01__prod-price {
  padding: 10px 15px;
  background: #a30000;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
}

.prod-price__old {
  font-size: 29px;
  color: #ffd700;
  text-decoration: line-through;
}

.prod-price__new {
  font-weight: 900;
  font-size: 32px;
  color: #fff722;
}

.prod-price__shipment {
  color: #fff;
  font-size: 28px;
}

.percent-box {
  position: relative;
  margin-bottom: 15px;
  padding-right: 60px;
}

.percent-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url('../img/percent.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.percent-box__title {
  font-size: 24px;
  color: #ffffff;
}

.percent-box__percent {
  font-weight: 900;
  font-size: 23px;
  line-height: 1;
  color: #fff722;
}

.form-box {
  padding: 5px 15px 30px;
  background: #e5e9ea;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.input_item {
  margin-bottom: 20px;
}

.custom_select {
 
}

.custom_btn {
  height: inherit;
  padding: 5px 25px;
  font-size: 22px;
  text-transform: uppercase;
}

.block-2__subtitle {
  font-size: 42px;
  color: #2b1429;
}

.block-2__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 63px;
  line-height: 1;
  color: #2b1429;
}

.block-2__title span {
  display: block;
  color: #fb382a;
}

.block-2__text {
  margin-bottom: 40px;
  font-size: 22px;
}

.block-2__text span {
  font-weight: bold;
}

.block-2__cause {
  position: relative;
  margin-bottom: 20px;
  padding-right: 40px;
  font-size: 24px;
  line-height: 1.4;
  color: #000000;
}

.block-2__cause:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url('../img/alert.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.block-2__cause span {
  font-weight: bold;
  color: #d82a1d;
}

.block-2__image {
  position: relative;
}

.block-2__image_text {
  position: absolute;
  top: 20px;
  left: 30%;
  font-size: 20px;
  color: #2b1429;
  border-bottom: 2px solid #2b1429;
}

.row.valign-wrapper {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

/*new box*/
.block-3 {
  padding: 40px 0 50px;
  background-image: url('../img/b3-bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

.b3-left img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 30px auto 0;
}

.b3-right h2 {
  font-weight: 400;
  line-height: 0.9;
  font-family: 'Open Sans', sans-serif;
  color: #000000;;
}

.b3-right h2 span {
  display: block;
  font-size: 26px;
  line-height: 1;
}

.b3-right h2 .str-2, .b3-right h2 .str-3 {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;;
}

.b3-right h2 .str-2 {
  color: #e60000;
}

.b3-right ul {
  margin: 30px 0 0;
  padding-right: 45px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;;
}

.b3-right ul li {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.5;;
}

.b3-right ul li:last-child {
  margin-bottom: 0;
}

.b3-right ul li:before {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('../img/arrow-right1.png') center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.b6-left ul li:before, .b8-left ul li:before {
  content: "";
  top: 3px;
}

.b3-right ul li span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #d82a1d;
}

.block-4 {
  padding: 60px 0;
  overflow: hidden;
}

.block-4 .wrapper {
  height: 100%;
}

.b4-left {
  position: relative;
  z-index: 1;
}

.b4-left p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;;
}

.b4l-left {
  float: right;
  width: 90px;;
}

.b4l-left img {
  max-width: 100%;
  margin-top: 15px;
}

.b4l-right {
  padding-right: 100px;
}

.b4l-right h2 {
  font-size: 46px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: #2b1429;;
}

.b4l-right h2 .str-2 {
  display: block;
  font-size: 60px;
  color: #d70000;
}

.b4-right {
  position: absolute;
  left: 0;
  bottom: -80px;
  z-index: 9;
  width: 500px;
}

.b4-right img {
  display: block;
}

.block-5 {
  padding: 15px 0 20px;
  background-color: #f1efdd;;
}

.b5-left img {
  position: relative;
  width: 100%;
  max-width: 215px;
  display: block;
  margin: 30px auto 0;
}

.b5-right h2 {
  line-height: 0.9;
}

.b5-right h2 .str-1 {
  padding: 0 10px;
  font-size: 38px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #145d1a;;
}

.b5-right h2 .str-2 {
  display: block;
  font-size: 45px;
  color: #2b1429;
}

.b5-right h2 .str-3 {
  font-size: 45px;
  color: #257e2d;
}

.b5-right p, .b6-left ul {
  font-size: 18px;
  line-height: 1.6;
}

.b5-right p {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.b5-right p span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.block-5_list li {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  font-family: "'Roboto'", sans-serif;
}

.block-5_list li b {
  color: #25af0e;
}

.block-6 {
  padding: 50px 0;
  background: url('../img/b6-bg.jpg') center bottom no-repeat #e0eaf0;
  -webkit-background-size: cover;
  background-size: cover;;
}

.b6-left ul {
  margin: 0;
  padding: 15px 65px 20px 15px;
  font-family: 'Open Sans', sans-serif;
  border: 4px solid #ffffff;;
}

.b6-left ul li {
  position: relative;
  margin-bottom: 25px;;
}

.b6-left ul li:last-child {
  margin-bottom: 0;
}

.b6-left ul li:before {
  position: absolute;
  right: -40px;
  width: 25px;
  height: 25px;
  background: url('../img/check-round.png') center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.b6-left ul li span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #097d27;
}

.b6-right {
  position: relative;
}

.b6-right h2 {
  font-size: 48px;
  line-height: 0.9;
  font-family: 'Open Sans', sans-serif;
  color: #25af0e;;
}

.b6-right h2 span {
  display: block;
  font-size: 68px;
  font-family: 'Open Sans', sans-serif;;
}

.b6-right p {
  margin: 40px 0 0;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.b6-right p span {
  font-family: 'Open Sans', sans-serif;
  color: #25af0e;
}

.b6-right img {
  display: block;
  width: 100%;
  max-width: 205px;
  margin: 30px auto 0;
}

.block-7 {
  padding: 40px 0;
}

.block-7 h2 {
  font-size: 48px;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.block-7 h2 span {
  display: block;
  font-size: 53px;
  font-family: 'Open Sans', sans-serif;;
}

.factor {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.factor p {
  margin: 0;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;;
}

.b7-bottom, .b7-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-top: 30px;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;;
}

.factor p span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.b7-top .factor {
  width: 25%;
  margin-bottom: 30px;
  padding: 0 10px;
}

/*.b7-top .factor:nth-child(1) {*//*width: 20%*//*}*//*.b7-top .factor:nth-child(2) {*//*width: 30%*//*}*//*.b7-bottom .factor {*//*width: 33.3%;*//*padding: 0 20px*//*}*//*.b7-bottom .factor:nth-child(2) {*//*padding: 0 32px*//*}*//*.b7-bottom .factor:nth-child(3) {*//*padding: 0*//*}*/
.block-8 {
  padding: 30px 0;
  text-align: center;
}

.block_8-title {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
}

.block_8-subtitle {
  margin-bottom: 50px;
  font-size: 18px;
}

.info-num {
  font-weight: bold;
  font-size: 28px;
  color: #5c6171;
}

.info-num div {
  font-weight: bold;
  font-size: 92px;
  line-height: 1;
}

.block_8-bottom-text {
  margin-top: 40px;
}

.block_8-bottom-text b {
  font-size: 30px;
}

.block_8-top {
  padding-bottom: 100px;
  background: url('../img/section8_arrow.jpg') no-repeat center bottom;
  -webkit-background-size: 90%;
  background-size: 90%;
}

.percents {
  margin-top: 30px;
}

.percent_column {
  position: relative;
  width: 100%;
  height: 350px;
}

.percent_column-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  margin: 0 auto;
  margin-left: -40%;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
  background: #b2e39a;
  border-top: 7px solid #707480;
}

.percent_column-wrap:nth-child(1) .percent_column-inner {
  height: 100%;
}

.percent_column-wrap:nth-child(2) .percent_column-inner {
  height: 99.5%;
}

.percent_column-wrap:nth-child(3) .percent_column-inner {
  height: 92%;
}

.percent_column-wrap:nth-child(4) .percent_column-inner {
  height: 74%;
}

.percent_column-wrap:nth-child(5) .percent_column-inner {
  height: 92.5%;
}

.percent_column-wrap:nth-child(6) .percent_column-inner {
  height: 100%;
}

@media screen and (max-width: 992px) {
  .block_8-bottom-text b {
    font-size: 20px;
  }

  .b4l-right {
    padding-right: 0;
  }

  .block_8-top {
    padding-bottom: 50px;
  }

  .percent_column {
    height: auto;
    margin-bottom: 0;
  }

  .percent_column-inner {
    position: relative;
    left: 0;
    width: 100%;
    margin-left: 0;
    padding: 10px;
    text-align: right;
  }

  .percent_column-wrap p {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .percent_column-wrap:nth-child(1) .percent_column-inner {
    width: 100%;
  }

  .percent_column-wrap:nth-child(2) .percent_column-inner {
    width: 99.5%;
  }

  .percent_column-wrap:nth-child(3) .percent_column-inner {
    width: 92%;
  }

  .percent_column-wrap:nth-child(4) .percent_column-inner {
    width: 74%;
  }

  .percent_column-wrap:nth-child(5) .percent_column-inner {
    width: 92.5%;
  }

  .percent_column-wrap:nth-child(6) .percent_column-inner {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
}

.block-9 {
  padding: 10px 0 30px;
  background: url('../img/b9-bg.png') left top no-repeat #f7f7f7;
  -webkit-background-size: contain;
  background-size: contain;
}

.b9-left img {
  position: relative;
}

.b9-right h2 {
  margin: 50px 0 20px;
  font-size: 56px;
  line-height: 1;
  color: #7c204b;;
}

.b9-right p {
  margin: 20px 0 0;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;;
}

.b9-right p span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.block-10 .client .text, .block-10 .client-info {
  font-family: 'Open Sans', sans-serif;
}

.block-10 {
  padding: 50px 0;
  background-color: #d9e4eb;
}

.block-10 h2 {
  margin: 0 auto 40px;
  font-size: 40px;;
}

.block-10 h2 span {
  color: #50203d;
}

/* .block-10 .client {-webkit-box-sizing: border-box;box-sizing: border-box;border: 2px solid #caced3;;}.block-10 .client:nth-child(4) {margin-right: 0;}.block-10 .client .head {position: relative;height: 50px;;}.block-10 .client .text {margin: 0;padding: 10px 15px 30px;font-size: 17px;background-color: #ffffff;}.block-10 .client-info {position: absolute;top: -50px;left: 10px;width: 285px;padding-top: 10px;padding-left: 110px;line-height: 1;background-color: #d9e4eb;;}.block-10 .client-info img {position: absolute;top: 0;left: 0;;}.block-10 .client-info .name {margin: 0;font-size: 22px;color: #94366f;;}.block-10 .client-info .city {margin: 5px 0 0;font-size: 18px;color: #50203d;;} *//* INSTAGRAM */
.rw-slide-inner {
  max-width: 350px;
  min-height: 520px;
  margin: 0 auto;
  padding-bottom: 40px;
  background: #ffffff url('../img/bottom-icons1.jpg') no-repeat center bottom;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-box-shadow: 0 0 15px 0 #9696967d;
  box-shadow: 0 0 15px 0 #9696967d;
  direction: ltr;
}

.lSSlideOuter {
  overflow: visible;
  direction: ltr;
}

.lSSlideWrapper {
  overflow: visible;
}

.lightSlider {
  overflow: visible;
}

.review-name {
  padding: 15px 15px 15px 5px;
  font-size: 0;
}

.review-name img {
  display: inline-block;
  width: 42px;
  margin-left: 10px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.review-name span {
  display: inline-block;
  font-weight: 900;
  font-size: 12px;
  vertical-align: middle;
}

.review-name span i {
  display: block;
  font-weight: 400;
  font-style: normal;
}

.review-image {
  width: 100%;
  margin-bottom: 5px;
}

.likes {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

.rw-slide-inner p {
  margin: 0;
  padding: 0 10px 10px;
  font-size: 14px;
  text-align: right;
}

.post-manage {
  min-height: 40px;
  background: url('../img/icons1.jpg') no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

.block-10 .lSSlideOuter .lSPager.lSpg > li a {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px 0 #ababab;
  box-shadow: 1px 1px 10px 0 #ababab;
}

.block-10 .lSSlideOuter .lSPager.lSpg > li {
  padding: 0 10px;
}

.block-10 .lSSlideOuter .lSPager.lSpg {
  padding-top: 30px;
  padding-bottom: 10px;
}

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #ff5d55;
}

/* INSTAGRAM */
.block-11 {
  padding: 20px 0 50px;
  background-color: #f9eded;
}

.b11-right {
  position: relative;
}

.b11-right img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.alert {
  margin-top: 20px;
  padding: 25px 20px;
  background-color: #ffffff;;
}

.alert h3 {
  margin: 0 0 30px;
  font-size: 32px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: red;;
}

.alert h3 span {
  font-size: 69px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

.alert p {
  margin: 0;
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;;
}

.alert p span {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;;
}

.quality {
  margin: 15px 0 0 30px;
  font-size: 26px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: #a81b5d;;
}

.block-12 {
  padding: 40px 0;
}

.block-12 h2 {
  margin-bottom: 40px;
  font-size: 44px;;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.stage {
  position: relative;
  width: 33%;
  padding: 0 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.stage .arrow {
  position: absolute;
  top: 40px;
  left: -10px;
  width: 22px;
  height: 67px;;
}

.stage p {
  margin: 20px 0 0;
}

.footer {
  padding: 20px 0;
  background-color: #3d5254;
}

.footer p {
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #baced0;
}

.price_old {
  text-decoration: line-through;
}

.errorMessage {
  position: absolute;
  z-index: 100000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  background: #dc3434;
}

.copyright {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  color: #6c6e6f;
}

.copyright p {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.copyright br {
  display: none;
}

.copyright img {
  margin: 10px auto !important;
}

.copyright img:first-child {
  display: block !important;
}

.copyright a {
  color: #6c6e6f;
  text-decoration: none;
}

.copyright a:hover {
  color: #ff0069;
  text-decoration: none;
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1170px) {
  .block-01__subtitle {
    font-size: 36px;
  }

  .block-01__title {
    font-size: 40px;
  }

  .block-2__title {
    font-size: 50px;
  }

  .b4-right {
    right: -100px;
  }

  .b6-left ul li {
    margin-bottom: 15px;
  }

  .b6-right h2 span {
    font-size: 64px;
  }

  .b9-left img {
    margin-left: -30px;
  }

  .b9-left p {
    margin: 0;
    margin-top: -50px;
    font-weight: bold;
    text-align: center;
  }

  .block-11 {
    padding: 40px 0;
  }
}

@media screen and (max-width: 992px) {
  .block-01__dashes {
    margin: 20px 0;
  }

  .block-01__prod-image {
    max-width: 400px;
    margin: 0 auto 30px;
  }

  .block-2__image {
    max-width: 400px;
    margin: 0 auto;
  }

  .b3-left img {
    margin-bottom: 50px;
  }

  .b4l-right h2 {
    font-size: 24px;
    text-align: center;
  }

  .b4l-right h2 .str-2 {
    font-size: 30px;
    text-align: center;
  }

  .b4l-left {
    float: none;
    margin: 0 auto;
  }

  .b4l-left img {
    margin: 0;
  }

  .b4-right {
    width: 385px;
  }

  .b5-left {
    width: 300px;
    margin: 0 auto 30px;
  }

  .b5-right h2 .str-2 {
    font-size: 30px;
  }

  .b5-right h2 .str-3 {
    font-size: 40px;
  }

  .b6-right {
    margin-top: 30px;
  }

  .b6-right h2 span {
    font-size: 50px;
  }

  .b7-top .factor {
    width: 50%;
  }

  .b9-left img {
    width: 100%;
  }

  .block-10 {
    padding: 50px 0 10px;
  }

  .block-10 .client {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 759px) {
  .block-01__title, .block-01__subtitle {
    font-size: 32px;
    text-align: center;
  }

  .block-01__dashes {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;
  }

  .block-2__subtitle, .block-2__title {
    font-size: 34px;
  }

  .block-2__image_text {
    top: 5px;
    left: 20%;
  }

  .b4-right {
    display: none;
  }

  .b4-left p {
    text-align: center;
  }

  .b5-left {
    width: 100%;
  }

  .b5-right h2 .str-2 {
    font-size: 26px;
  }

  .b5-right h2 .str-3 {
    font-size: 26px;
    line-height: 1;
  }

  .b5-right h2 .str-3 {
    font-size: 18px;
  }

  .b6-right h2 {
    font-size: 36px;
  }

  .b6-right h2 span {
    font-size: 40px;
  }

  .block-7 h2 {
    font-size: 34px;
    text-align: center;
  }

  .block-7 h2 span {
    font-size: 40px;
  }

  .b7-top .factor {
    width: 100%;
  }

  .b8-left h2 {
    font-size: 28px;
  }

  .b9-left img {
    margin: 0;
  }

  .b9-left p {
    margin: 0;
    text-align: right;
  }

  .b9-right h2 {
    font-size: 32px;
  }

  .block-10 h2 {
    font-size: 26px;
  }

  .alert h3 {
    font-size: 22px;
    text-align: center;
  }

  .alert h3 span {
    font-size: 36px;
  }

  .quality {
    margin: 20px 0 20px;
    font-size: 24px;
    text-align: center;
  }

  .block-12 h2 {
    font-size: 30px;
  }

  .stage {
    width: 100%;
    margin: 0 0 50px;
    padding: 0;
  }

  .stage img {
    display: block;
    margin: 0 auto;
  }

  .stage .arrow {
    top: inherit;
    right: inherit;
    bottom: -55px;
    left: 50%;
    margin-left: -11px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 992px){
  .b3-right h2 .str-2, .b3-right h2 .str-3 {
    font-size: 22px;
  }
}

.only_number {
  direction: ltr;
  text-align: right;
}

.js_errorMessage {
  direction: ltr;
}